.fazer-teste-btn {
  background-color: black;
  color: white;
  border-radius: 100px;
  align-self: center;
  font-size: 1.3rem;
}

.btn:hover {
  color: #ffda15 !important;
}

.botao-fazer-teste-container {
  margin: 40px auto;
}