@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

span.instagram-icon {
  background-image: url(.././assets/icons/instagram.svg);
}

span.facebook-icon {
  background-image: url(.././assets/icons/facebook.svg);
}

span.twitter-icon {
  background-image: url(.././assets/icons/twitter.svg);
}

span.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bg-golden {
  background-color: rgb(31, 30, 28);
}

.form-group  {
  background-color: rgb(31, 30, 28);
}

.email {
  height: 35px;
}

.link {
  color: white;
}

.btn-primary :hover {
  color: black;
}

input {
  border-color: transparent;
}

.form-group-custom {
  align-items: center;
  margin-bottom: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-color: blanchedalmond;
  margin: 15px;
}

.input-cadastro {
  height: 45px;
  width: 100%;
  border: none;
  background-color: white;
}

.label-input {
  background-color: white;
  display: flex;
  width: 100%;
  margin: 8px 0;
  align-items: center;
}

.icon-modify {
  padding: 0 5px;
  color: #ffda15;
}
.menu {
  color: #ffda15;
  display: table-caption;
  font-size: medium;
}

.menu :hover {
  color: #59359c;
}

.title {
  color: #59359c;
  font-weight: 900;
}

.Title-1 {
  color: white;
  font-size: x-large;
}

.container-fluid {
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  display: inline-flex;
}

body,
html {
  background-color: rgba(44, 43, 42) !important;
}

.description {
  color: white;
  font-size: x-large;
}

.Title {
  color: #59359c;
}
.footer {
  background-color: #59359c;
  color: black;
}



.img-cad {
  height: 30;
  width: 20rem;
  border-radius: 30px;
}