/* ********************* Página inicial ****************************** */
.about_us figure.dev-avatar {
  width: 5rem;
  height: 5rem;
  background-color: lightgray;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

/* img.img_display {
  filter: drop-shadow(3px 3px 2px #cccccc);
} */

figure.user-image {
  height: 3rem;
  width: 3rem;
  background-color: #ccc;
}

.image__carousel {
  background-color: black;
  opacity: 50%;
}